.home-bg-container{
       height: 80vh;
       background: url(../../../public/images/20231031_221913_1763368864.jpg);
       background-size: cover;
       top: 0;
       z-index: -1;
}
.home-bg-layout{
       background-color: rgba(3, 3, 3, 0.808);
}
.home-title-container{
       height: 60vh;
}
.home-title{
       background: linear-gradient(10deg,rgb(244, 26, 26),rgb(205, 134, 134));
       -webkit-text-fill-color: transparent;
       -webkit-background-clip: text;
       font-weight: 600;
}
.home-offs-swiper-container{
       margin-top: 20vh;
       margin-bottom: 10vh;
}
.home-restaurant-show-section-bg{
       width: 100%;
       height: 50vh;
       background: url(../../../public/images/20231101_202058_773347211.jpg);
       background-size: cover;
       background-attachment: fixed;
       margin: 10vh 0 !important;
}
.home-restaurant-box{
       height: 50vh;
       box-shadow: 0px 0px 10px 1px rgba(128, 128, 128, 0.315);
       transition: all .5s;
}
.home-restaurant-box:hover{
       transform: scale(1.02)translateY(-1vw) !important;
}

.home-restaurant-box-logo{
       width: 40%;
       left: 30%;
       bottom: -25%;
       border-radius: 1rem;
       padding: .6rem;
       background-color: rgba(250, 235, 215, 0.758);
}